<!DOCTYPE html>
<html>
    <head>
        <title>Maestro Media Center</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {{css}}
        <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
        <script type="text/javascript">
            var rootDirectory = "{{rootDirectory}}";
        </script>
    </head>
    <body>
        {{scripts}}
    </body>
</html>
