.videoContainer {
    text-align: center;
    margin : 0;
    padding: 0;
}

.videoContainer video {
    position: relative;
}


.overlayCover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10000;
}

body, div {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

video {
    margin: 0;
    padding: 0;
}

.menuItem:focus {
    color: red;
}

.activeItem {
    background-color: red;
}


